.circle-tree-sidebar {
  display: block;
  position: fixed;
  height: 100vh;
  border-right: 1px solid #ccc;
  width: 100%;
  max-width: 200px;
}

.circle-tree-container {
  width: 100%;
  height: 100%;
  margin-left: 200px;
}