.circle-tree-sidebar {
  display: block;
  position: fixed;
  height: calc(100vh - 56px);
  border-right: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.circle-tree-sidebar-header{
  background-color: #212121;
  padding: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.circle-tree-sidebar-section {
  background-color: #ccc;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.circle-tree-sidebar-save {
  border-radius: 0 !important;
  position: absolute;
  z-index: 99;
  bottom: 0;
}

.circle-tree-container {
  width: calc(100vw - 300px);
  height: calc(100vh - 56px);
  margin-left: 300px;
}

.circle-tree-node {
  background-color: white;
  height: 80px;
  width: 200px;
}

.circle-tree-node h2 {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #000;
}

.circle-tree-node-error {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid #ff0000;
  padding: 5px;
  
  font-size: 14px;
}